.box1 {
  width: 50rem;
  height: 50rem;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2 {
  width: 40rem;
  height: 40rem;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box3 {
  width: 30rem;
  height: 30rem;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box4 {
  width: 20rem;
  height: 8rem;
  background-color: purple;
  margin: 2rem;
}
