@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
}

button {
  margin: 1rem;
  width: 2rem;
}

p {
  margin: 0 3.5rem;
}

.positive {
  color: green;
}
.negative {
  color: red;
}
